# About this dataset

This dataset provides a comprehensive look at Airbnb prices in some of the most popular European cities. Each listing is evaluated for various attributes such as room types, cleanliness and satisfaction ratings, bedrooms, distance from the city centre, and more to capture an in-depth understanding of Airbnb prices on both weekdays and weekends. Using spatial econometric methods, we analyse and identify the determinants of Airbnb prices across these cities. Our dataset includes information such as realSum (the total price of the listing), room_type (private/shared/entire home/apt), host_is_superhost (boolean value indicating if host is a superhost or not), multi (indicator whether listing is for multiple rooms or not), biz (business indicator) , guest_satisfaction_overall (overall rating from guests camparing all listings offered by host ), bedrooms, dist (distance from city center) , lng & lat coordinates for location identification etc. We hope that this data set offers insight into how global markets are affected by social dynamics and geographical factors which in turn determine pricing strategies for optimal profitability!

In [10]:
import pandas as pd

In [11]:
amsterdamweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
amsterdamweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekends.csv')
athensweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
athensweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\athens_weekends.csv')
barcelonaweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
barcelonaweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\barcelona_weekends.csv')
berlinweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
berlinweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\berlin_weekends.csv')
budapestweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
budapestweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\budapest_weekends.csv')
lisbonweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
lisbonweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\lisbon_weekends.csv')
londonweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
londonweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\london_weekends.csv')
parisweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
parisweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\paris_weekends.csv')
romeweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
romeweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\rome_weekends.csv')
viennaweekdays =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\amsterdam_weekdays.csv')
viennaweekends  =pd.read_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\vienna_weekends.csv')

In [6]:
viennaweekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Country,Days
0,0,324.661665,Entire home/apt,False,False,4.0,True,0,1,10.0,...,3.240613,0.610450,92.473467,6.622340,129.862880,3.138736,16.33006,48.20921,Vienna,Weekend
1,1,150.760816,Entire home/apt,False,False,2.0,True,0,1,10.0,...,2.241126,1.119505,124.258002,8.898538,154.350322,3.730588,16.38867,48.19104,Vienna,Weekend
2,2,196.339668,Entire home/apt,False,False,3.0,True,0,1,9.0,...,2.371551,0.452419,125.413127,8.981261,206.642494,4.994469,16.34236,48.20436,Vienna,Weekend
3,3,107.753079,Private room,False,True,2.0,False,0,0,8.0,...,3.629114,0.473164,62.459416,4.472931,93.810714,2.267369,16.37837,48.24102,Vienna,Weekend
4,4,196.339668,Entire home/apt,False,False,4.0,True,0,1,9.0,...,2.395063,0.443635,124.020359,8.881520,202.318070,4.889950,16.34198,48.20456,Vienna,Weekend

In [12]:
viennaweekends[['Country','Days']] = ['Vienna','Weekend']
viennaweekdays[['Country','Days']] = ['Amsterdam','Weekday']
amsterdamweekends[['Country','Days']] = ['Amsterdam','Weekend']
amsterdamweekdays[['Country','Days']] = ['Amsterdam','Weekday']
romeweekends[['Country','Days']] = ['Rome','Weekend']
romeweekdays[['Country','Days']] = ['Rome','Weekday']
londonweekends[['Country','Days']] = ['London','Weekend']
londonweekdays[['Country','Days']] = ['London','Weekday']
lisbonweekends[['Country','Days']] = ['Lisbon','Weekend']
lisbonweekdays[['Country','Days']] = ['Lisbon','Weekday']
athensweekends[['Country','Days']] = ['Athens','Weekend']
athensweekdays[['Country','Days']] = ['Athens','Weekday']
barcelonaweekends[['Country','Days']] = ['Barcelona','Weekend']
barcelonaweekdays[['Country','Days']] = ['Barcelona','Weekday']
parisweekends[['Country','Days']] = ['Paris','Weekend']
parisweekdays[['Country','Days']] = ['Paris','Weekday']
budapestweekends[['Country','Days']] = ['Budapest','Weekend']
budapestweekdays[['Country','Days']] = ['Budapest','Weekday']
berlinweekends[['Country','Days']] = ['Berlin','Weekend']
berlinweekdays[['Country','Days']] = ['Berlin','Weekday']

In [13]:
alldata = pd.concat([viennaweekdays,
amsterdamweekends,
amsterdamweekdays,
romeweekends,
romeweekdays,
londonweekends,
londonweekdays,
lisbonweekends,
lisbonweekdays,
athensweekends,
athensweekdays,
barcelonaweekends,
barcelonaweekdays,
parisweekends,
parisweekdays,
budapestweekends,
budapestweekdays,
berlinweekends,
berlinweekdays,
viennaweekends
])

In [14]:
alldata.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Country,Days
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam,Weekday
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam,Weekday
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam,Weekday
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam,Weekday
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam,Weekday

In [15]:
alldata.to_csv('C:\\Users\\SV87336\\Desktop\\Project\\Data\\Airbnb\\Airbnb.csv',index=False)